<% if @sale.errors.any? %>
  <ul>
    <% @sale.errors.full_messages.each do |error| %>
      <li> <%= error %></li>
    <% end  %>
  </ul>

<%end %>

<h1>New Sale</h1>

<%= form_for(@sale) do |f| %>
  <div>
    <%= f.label(:sale_amount) %>
    <%= f.text_field(:sale_amount) %>
  </div>

  <div>
    <%= f.label(:units_sold) %>
    <%= f.text_field(:units_sold) %>
  </div>

  <div>
    <%= radio_button_tag(:invoice_frequency_id, 1) %>
    <%= label_tag(:invoice_frequency_id, "Once") %>
    <%= radio_button_tag(:invoice_frequency_id, 2) %>
    <%= label_tag(:invoice_frequency_id, "Quarterly") %>
    <%= radio_button_tag(:invoice_frequency_id, 3) %>
    <%= label_tag(:invoice_frequency_id, "Monthly") %>
  </div>

  <div>
    <%= radio_button_tag(:employee_id, 1) %>
    <%= label_tag(:employee_id, "Clancy Wiggum") %>
    <%= radio_button_tag(:employee_id, 2) %>
    <%= label_tag(:employee_id, "Ricky Bobby") %>
    <%= radio_button_tag(:employee_id, 3) %>
    <%= label_tag(:employee_id, "Bob Lob") %>
    <%= radio_button_tag(:employee_id, 4) %>
    <%= label_tag(:employee_id, "Willie Groundskeeper") %>
  </div>

  <div>
    <%= radio_button_tag(:product_id, 1) %>
    <%= label_tag(:product_id, "Chimp Glass") %>
    <%= radio_button_tag(:product_id, 2) %>
    <%= label_tag(:product_id, "Baboon Glass") %>
    <%= radio_button_tag(:product_id, 3) %>
    <%= label_tag(:product_id, "Orangutan Glass") %>
    <%= radio_button_tag(:product_id, 4) %>
    <%= label_tag(:product_id, "Gorilla Glass") %>
  </div>

  <div>
    <%= radio_button_tag(:customer_id, 1) %>
    <%= label_tag(:cutomer_id,"Motorola") %>
    <%= radio_button_tag(:customer_id, 2) %>
    <%= label_tag(:cutomer_id,"LG") %>
    <%= radio_button_tag(:customer_id, 3) %>
    <%= label_tag(:cutomer_id,"HTC") %>
    <%= radio_button_tag(:customer_id, 4) %>
    <%= label_tag(:cutomer_id,"Nokia") %>
    <%= radio_button_tag(:customer_id, 5) %>
    <%= label_tag(:cutomer_id,"Samsung") %>
    <%= radio_button_tag(:customer_id, 6) %>
    <%= label_tag(:cutomer_id, "Apple") %>
  </div>


  <div>
    <%= f.label(:invoice_no) %>
    <%= f.text_field(:invoice_no) %>
  </div>
  <%= f.submit "Submit" %>
<% end %>

